*{
    box-sizing: border-box;
    font-family: "DA_FuturaPT Medium", sans-serif;
}

/* Main Body Styling */
body {
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "DA_FuturaPT Medium", sans-serif !important;
}

#company{
    font-family: "DA_FuturaPT Medium", sans-serif !important;
}

h1 {
    font-family: "DA_FuturaPT Medium", sans-serif !important;
    font-size: 60px;
}

div .container .d-flex  {
    font-size: 24px;
}

a{
    font-size: 24px;
}


/* card-sample-text-card */
#sample-text-card{
    margin:  200px;
    font-family: "DA_FuturaPT Medium", sans-serif;
}

#sample-text-card h1{
    font-size: 54px;
    font-family: "DA_FuturaPT Medium", sans-serif;
    margin: 0px 0px 16px;
}

.button-wrapper a{
    padding: 15px;
    width: 200px;
    color: white;
    font-family: "DA_FuturaPT Medium", sans-serif;
}

.register {
    margin-right: 7px;
    background-color: #399155;;
    border: 1px solid;
}

.login {
    background-color: #399155;;
    border: 1px solid;
    font-family: "DA_FuturaPT Medium", sans-serif;
}

/* Registration form */

.card {
    font-family: "DA_FuturaPT Medium", sans-serif;
}

.card .form-control {
    margin: 8px 0px;
    font-family: "DA_FuturaPT Medium", sans-serif;
}

.card button {
    background-color:#399155;;
    border: 1px solid;
    margin: 10px 0;
    width: 200px;
    color: white;
    font-family: "DA_FuturaPT Medium", sans-serif;

}

