*{
    box-sizing: border-box;
}

/* Main body Styling */

#company{
    font-family: "DA_FuturaPT Medium", sans-serif !important;
}

.container {
    margin: 20px auto;
    font-family: "DA_FuturaPT Medium", sans-serif !important;
}

body {
    background-color: white;
}

div a form {
    font-family: "DA_FuturaPT Medium", sans-serif !important;
}

nav-title a {
    font-family: "DA_FuturaPT Medium", sans-serif !important;
    font-size: 24px;
}

/* Main page header */
.main-page-header {
    padding: 10px 0px;
    background-color: #399155;
    background: #399155;
}

/* company name */

.main-page-header .company-name {
    font-weight: 600;
    color: white;
    font-family: "DA_FuturaPT Medium";
    font-size: 42px;
}

/* navigation */

.navigation {
    align-content: center;
    margin-left: 25px;
}

.navigation li {
    display: inline-block;
    list-style-type: none;
    margin: 15px 15px;
    align-content: center;
}

.navigation li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    align-content: center;

}

.display-name {
    font-weight: 500;
    align-content: center;
    align-self: center;
    align-items: center;
    font-size: 24px;
}

#transactions-btn {
    background-color: #399155;
    color: white;
}

#transact-btn {
    background-color: #399155;;
    color: white;
}

/* Payment card */
.payment-card {
    display: none;
}

/* transfer card */
.transfer-card {
    display: none;
}

/* deposit card */
.deposit-card {
    display: none;
}

/* withdraw card */
.withdraw-card {
    display: none;
}

.button-primary {
    background-color: #399155;;
    color: white;
}

.button-primary {
    background-color: #399155;;
    color: white;
}

#sign-out-btn {
    align-self: center;
    align-items: center;
    align-content: center;
    border: 2px solid white;

    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
#back-btn {
    background-color:#399155;;
    border: 1px solid;
    margin: 10px 0;
    width: 200px;
    color: white;
    font-family: "DA_FuturaPT Medium", sans-serif;
}
